
.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

.library-info p {
    margin-bottom: 10px;
}



.staff-info table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.staff-info th, .staff-info td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.staff-info th {
    background-color: #f2f2f2;
}
