/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-size: 2rem;
}

main {
    padding: 2rem;
}

form {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    height: 36px;
}

button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

.searchresults{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.searchresults .searchbook{
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
}

.searchbook img{
    max-width: 100%;
    height: auto;
}

/* .searchbook img{
    width: 30%;
}

.searchbook{
    width: 30%;
    border: 1px solid black;
    margin: 5px;
    padding: 15x;
    text-align: center;
    display: inline-block;
} */